<script lang="ts">
	import '../app.css';
	let { children } = $props();

	import { navLink, activeSection, navLinkPath } from '$lib/intersectionObserver';
	import { onMount } from 'svelte';

	let links: HTMLAnchorElement[] = []; // Type annotation

	let currentSection = $state<string>('');
	$effect(() => {
		const unsubscribe = activeSection.subscribe((section) => {
			currentSection = section;
		});

		// Log the current section whenever it changes
		console.log('Current active section:', currentSection);

		// Cleanup on component destroy
		return unsubscribe;
	});
</script>

<nav class="fixed w-full top-0 z-10 px-2 sm:px-4 py-2.5 border-b border-gray-200 backdrop-blur-sm bg-white/30">
	<div class="container mx-auto flex justify-between items-center ">
		<span class="text-xl font-semibold whitespace-nowrap prose">Utopia Optimizer</span>
		<div class="flex items-center gap-4 prose">
			<a href="/" class="font-semibold ">Optimizer</a>
			<div class="flex gap-2 text-sm -ml-2 border-l border-gray-400 pl-2">
				<a use:navLink href="/#main">Main</a>
				<a use:navLink href="/#buildings">Buildings</a>
				<a use:navLink href="/#science">Science</a>
				<a use:navLink href="/#effects">Effects</a>
				<a use:navLink href="/#overrides">Overrides</a>
				
			</div>
			<a use:navLinkPath href="/runs" class="font-semibold ">Runs</a>
		</div>
	</div>
</nav>
<div class="prose prose-base md:container md:mx-auto">
	<div class=" mt-6">
		{@render children()}
	</div>
</div>
