:root {
	/* =~= Theme Properties =~= */
	--theme-font-family-base: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--theme-font-family-heading: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--theme-font-color-base: 0 0 0;
	--theme-font-color-dark: 255 255 255;
	--theme-rounded-base: 8px;
	--theme-rounded-container: 6px;
	--theme-border-base: 1px;
	/* =~= Theme On-X Colors =~= */
	--on-primary: 255 255 255;
	--on-secondary: 255 255 255;
	--on-tertiary: 255 255 255;
	--on-success: 0 0 0;
	--on-warning: 0 0 0;
	--on-error: 255 255 255;
	--on-surface: 255 255 255;
	/* =~= Theme Colors  =~= */
	/* primary | #993150 */
	--color-primary-50: 240 224 229; /* ⬅ #f0e0e5 */
	--color-primary-100: 235 214 220; /* ⬅ #ebd6dc */
	--color-primary-200: 230 204 211; /* ⬅ #e6ccd3 */
	--color-primary-300: 214 173 185; /* ⬅ #d6adb9 */
	--color-primary-400: 184 111 133; /* ⬅ #b86f85 */
	--color-primary-500: 153 49 80; /* ⬅ #993150 */
	--color-primary-600: 138 44 72; /* ⬅ #8a2c48 */
	--color-primary-700: 115 37 60; /* ⬅ #73253c */
	--color-primary-800: 92 29 48; /* ⬅ #5c1d30 */
	--color-primary-900: 75 24 39; /* ⬅ #4b1827 */
	/* secondary | #7a1d5b */
	--color-secondary-50: 235 221 230; /* ⬅ #ebdde6 */
	--color-secondary-100: 228 210 222; /* ⬅ #e4d2de */
	--color-secondary-200: 222 199 214; /* ⬅ #dec7d6 */
	--color-secondary-300: 202 165 189; /* ⬅ #caa5bd */
	--color-secondary-400: 162 97 140; /* ⬅ #a2618c */
	--color-secondary-500: 122 29 91; /* ⬅ #7a1d5b */
	--color-secondary-600: 110 26 82; /* ⬅ #6e1a52 */
	--color-secondary-700: 92 22 68; /* ⬅ #5c1644 */
	--color-secondary-800: 73 17 55; /* ⬅ #491137 */
	--color-secondary-900: 60 14 45; /* ⬅ #3c0e2d */
	/* tertiary | #0b7eb0 */
	--color-tertiary-50: 218 236 243; /* ⬅ #daecf3 */
	--color-tertiary-100: 206 229 239; /* ⬅ #cee5ef */
	--color-tertiary-200: 194 223 235; /* ⬅ #c2dfeb */
	--color-tertiary-300: 157 203 223; /* ⬅ #9dcbdf */
	--color-tertiary-400: 84 165 200; /* ⬅ #54a5c8 */
	--color-tertiary-500: 11 126 176; /* ⬅ #0b7eb0 */
	--color-tertiary-600: 10 113 158; /* ⬅ #0a719e */
	--color-tertiary-700: 8 95 132; /* ⬅ #085f84 */
	--color-tertiary-800: 7 76 106; /* ⬅ #074c6a */
	--color-tertiary-900: 5 62 86; /* ⬅ #053e56 */
	/* success | #28c61c */
	--color-success-50: 223 246 221; /* ⬅ #dff6dd */
	--color-success-100: 212 244 210; /* ⬅ #d4f4d2 */
	--color-success-200: 201 241 198; /* ⬅ #c9f1c6 */
	--color-success-300: 169 232 164; /* ⬅ #a9e8a4 */
	--color-success-400: 105 215 96; /* ⬅ #69d760 */
	--color-success-500: 40 198 28; /* ⬅ #28c61c */
	--color-success-600: 36 178 25; /* ⬅ #24b219 */
	--color-success-700: 30 149 21; /* ⬅ #1e9515 */
	--color-success-800: 24 119 17; /* ⬅ #187711 */
	--color-success-900: 20 97 14; /* ⬅ #14610e */
	/* warning | #f8c018 */
	--color-warning-50: 254 246 220; /* ⬅ #fef6dc */
	--color-warning-100: 254 242 209; /* ⬅ #fef2d1 */
	--color-warning-200: 253 239 197; /* ⬅ #fdefc5 */
	--color-warning-300: 252 230 163; /* ⬅ #fce6a3 */
	--color-warning-400: 250 211 93; /* ⬅ #fad35d */
	--color-warning-500: 248 192 24; /* ⬅ #f8c018 */
	--color-warning-600: 223 173 22; /* ⬅ #dfad16 */
	--color-warning-700: 186 144 18; /* ⬅ #ba9012 */
	--color-warning-800: 149 115 14; /* ⬅ #95730e */
	--color-warning-900: 122 94 12; /* ⬅ #7a5e0c */
	/* error | #D41976 */
	--color-error-50: 249 221 234; /* ⬅ #f9ddea */
	--color-error-100: 246 209 228; /* ⬅ #f6d1e4 */
	--color-error-200: 244 198 221; /* ⬅ #f4c6dd */
	--color-error-300: 238 163 200; /* ⬅ #eea3c8 */
	--color-error-400: 225 94 159; /* ⬅ #e15e9f */
	--color-error-500: 212 25 118; /* ⬅ #D41976 */
	--color-error-600: 191 23 106; /* ⬅ #bf176a */
	--color-error-700: 159 19 89; /* ⬅ #9f1359 */
	--color-error-800: 127 15 71; /* ⬅ #7f0f47 */
	--color-error-900: 104 12 58; /* ⬅ #680c3a */
	/* surface | #514649 */
	--color-surface-50: 229 227 228; /* ⬅ #e5e3e4 */
	--color-surface-100: 220 218 219; /* ⬅ #dcdadb */
	--color-surface-200: 212 209 210; /* ⬅ #d4d1d2 */
	--color-surface-300: 185 181 182; /* ⬅ #b9b5b6 */
	--color-surface-400: 133 126 128; /* ⬅ #857e80 */
	--color-surface-500: 81 70 73; /* ⬅ #514649 */
	--color-surface-600: 73 63 66; /* ⬅ #493f42 */
	--color-surface-700: 61 53 55; /* ⬅ #3d3537 */
	--color-surface-800: 49 42 44; /* ⬅ #312a2c */
	--color-surface-900: 40 34 36; /* ⬅ #282224 */
	
}