<script lang="ts">
	import '../app.postcss';
	import { Drawer, getDrawerStore } from '@skeletonlabs/skeleton';
	import { page } from '$app/stores';
	import { initializeStores } from '@skeletonlabs/skeleton';
	import { goto } from '$app/navigation';

	initializeStores();
	const drawerStore = getDrawerStore();

	page.subscribe(() => {
		if ($page.data.drawer) {
			drawerStore.open();
		} else {
			drawerStore.close();
		}
	});

	function backdrop(event: any) {
		goto('/', { noScroll: true});
	}
</script>

<div class="flex flex-col min-h-screen">
	<main style="display: contents;">
		<slot />
	</main>
	<footer
		class="w-full p-4 bg-surface-100 shadow md:flex md:items-center md:justify-between md:p-6 mt-auto"
	>
		<span class="text-sm sm:text-center"
			>Source on <a href="https://codeberg.org/jrdrocks/utopia-optimizer"
				>codeberg.org | jrdrocks | utopia optimizer</a
			></span
		>
	</footer>
</div>

<Drawer on:backdrop={backdrop}>
	{#if $page.data.drawer}
		<svelte:component this={$page.data.drawer.el} {...$page.data.drawer.props} />
	{/if}
</Drawer>
