<script lang="ts">
  import Number from '$lib/components/Number.svelte';
  import { Table, TableBody, TableBodyCell, TableBodyRow, TableHead, TableHeadCell } from 'flowbite-svelte';
  import { Tabs, TabItem } from 'flowbite-svelte';

  import type { PageData } from './$types';

  let { data }: { data: PageData } = $props();

  let result = data?.data?.result;

  import defaults from '$lib/data';
  import { detectOutliers } from '$lib/outliers';
  import FullResultData from '$lib/components/FullResultData.svelte';
  import OptimizationData from '$lib/components/OptimizationData.svelte';

  // Preprocess data into nested arrays
  let opa_values: (number | null)[][] = [];
  let opnw_values: (number | null)[][] = [];
  let dpa_values: (number | null)[][] = [];
  let turtle_dpa_values: (number | null)[][] = [];
  let networth_values: (number | null)[][] = [];

  if (result) {
    defaults.PERSONALITIES.forEach((pers, persIndex) => {
      opa_values[persIndex] = new Array(defaults.RACES.length).fill(null);
      opnw_values[persIndex] = new Array(defaults.RACES.length).fill(null);
      dpa_values[persIndex] = new Array(defaults.RACES.length).fill(null);
      turtle_dpa_values[persIndex] = new Array(defaults.RACES.length).fill(null);
      networth_values[persIndex] = new Array(defaults.RACES.length).fill(null);

      defaults.RACES.forEach((race, raceIndex) => {
        const dataset = result.find((d: [string, string, any]) => d[0] === race && d[1] === pers)?.[2];

        if (dataset && dataset !== 'infeasible') {
          opa_values[persIndex][raceIndex] = dataset.values[2] / dataset.values[0];
          opnw_values[persIndex][raceIndex] = (100 * dataset.values[2]) / dataset.values[1];
          dpa_values[persIndex][raceIndex] = dataset.values[3] / dataset.values[0];
          turtle_dpa_values[persIndex][raceIndex] = dataset.values[4] / dataset.values[0];
          networth_values[persIndex][raceIndex] = dataset.values[1];
        }
      });
    });
  }
  let opa_values_outliers = detectOutliers(opa_values);
  let opnw_values_outliers = detectOutliers(opnw_values);
  let dpa_values_outliers = detectOutliers(dpa_values);
  let turtle_dpa_values_outliers = detectOutliers(turtle_dpa_values);
  let networth_values_outliers = detectOutliers(networth_values);
</script>

{#if data}
  <div class="flex flex-row gap-5">
    <div class="w-1/5">
      <section class="p-5 bg-gray-50 relative h-full">
        <div>
          <OptimizationData data={data.data?.input} />
        </div>
        <div class="border-t border-gray-200 mt-4 -mb-3"></div>
        <div class="sticky top-14">
          <h3 class="text-lg font-semibold">Results</h3>
           <ul class="list-none p-0 m-0 font-semibold text-sm text-gray-500">
            <li><a href="#opa">OPA</a></li>
            <li><a href="#opnw">OPNW</a></li>
            <li><a href="#dpa">DPA</a></li>
            <li><a href="#turtle-dpa">Turtle DPA</a></li>
            <li><a href="#networth">Networth</a></li>
           </ul>
        </div>
      </section>
    </div>
    <div class="w-4/5">
      <section id="opa">
        <Table>
          <caption class="p-5 pb-0 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            OPA
            <p class="mt-1 text-sm font-normal text-gray-500 dar.k:text-gray-400">Optimized OPA by race and personality</p>
          </caption>
          <TableHead>
            <TableHeadCell />
            {#each defaults.PERSONALITIES as pers, persIndex}
              <TableHeadCell>{pers}</TableHeadCell>
            {/each}
          </TableHead>
          <TableBody tableBodyClass="divide-y">
            {#each defaults.RACES as race, raceIndex}
              <TableBodyRow>
                <TableHeadCell>{race}</TableHeadCell>
                {#each defaults.PERSONALITIES as pers, persIndex}
                  {#if opa_values[persIndex][raceIndex] === null}
                    <TableBodyCell>-</TableBodyCell>
                  {:else}
                    <TableBodyCell>
                      <a href="#results-{race}-{pers}">
                      {#if opa_values_outliers[persIndex][raceIndex] === 'min'}
                        <span class="text-gray-500 font-light"><Number number={opa_values[persIndex][raceIndex]} /></span>
                      {:else if opa_values_outliers[persIndex][raceIndex] === 'max'}
                        <span class="font-bold"><Number number={opa_values[persIndex][raceIndex]} /></span>
                      {:else}
                        <Number number={opa_values[persIndex][raceIndex]} />
                      {/if}
                      </a>
                    </TableBodyCell>
                  {/if}
                {/each}
              </TableBodyRow>
            {/each}
          </TableBody>
        </Table>
      </section>
      <section id="opnw">
        <Table>
          <caption class="p-5 pb-0 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            OPNW * 100
            <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">OPNW multiplied by 100 for better readability</p>
          </caption>
          <TableHead>
            <TableHeadCell />
            {#each defaults.PERSONALITIES as pers, persIndex}
              <TableHeadCell>{pers}</TableHeadCell>
            {/each}
          </TableHead>
          <TableBody tableBodyClass="divide-y">
            {#each defaults.RACES as race, raceIndex}
              <TableBodyRow>
                <TableHeadCell>{race}</TableHeadCell>
                {#each defaults.PERSONALITIES as pers, persIndex}
                  {#if opnw_values[persIndex][raceIndex] === null}
                    <TableBodyCell>-</TableBodyCell>
                  {:else}
                    <TableBodyCell>
                      <a href="#results-{race}-{pers}">
                      {#if opnw_values_outliers[persIndex][raceIndex] === 'min'}
                        <span class="text-gray-500 font-light"><Number number={opnw_values[persIndex][raceIndex]!} /></span>
                      {:else if opnw_values_outliers[persIndex][raceIndex] === 'max'}
                        <span class="font-bold"><Number number={opnw_values[persIndex][raceIndex]!} /></span>
                      {:else}
                        <Number number={opnw_values[persIndex][raceIndex]!} />
                      {/if}
                    </a>
                    </TableBodyCell>
                  {/if}
                {/each}
              </TableBodyRow>
            {/each}
          </TableBody>
        </Table>
      </section>

      <section id="dpa">
        <Table>
          <caption class="p-5 pb-0 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            DPA
            <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Defensive Power per Acre calculations</p>
          </caption>
          <TableHead>
            <TableHeadCell />
            {#each defaults.PERSONALITIES as pers}
              <TableHeadCell>{pers}</TableHeadCell>
            {/each}
          </TableHead>
          <TableBody tableBodyClass="divide-y">
            {#each defaults.RACES as race, raceIndex}
              <TableBodyRow>
                <TableHeadCell>{race}</TableHeadCell>
                {#each defaults.PERSONALITIES as pers, persIndex}
                  {#if dpa_values[persIndex][raceIndex] === null}
                    <TableBodyCell>-</TableBodyCell>
                  {:else}
                 
                    <TableBodyCell> <a href="#results-{race}-{pers}">
                      {#if dpa_values_outliers[persIndex][raceIndex] === 'min'}
                        <span class="text-gray-500 font-light"><Number number={dpa_values[persIndex][raceIndex]!} /></span>
                      {:else if dpa_values_outliers[persIndex][raceIndex] === 'max'}
                        <span class="font-bold"><Number number={dpa_values[persIndex][raceIndex]!} /></span>
                      {:else}
                        <Number number={dpa_values[persIndex][raceIndex]!} />
                      {/if}
                    </a>
                    </TableBodyCell>
                  {/if}
                {/each}
              </TableBodyRow>
            {/each}
          </TableBody>
        </Table>
      </section>

      <section id="turtle-dpa">
        <Table>
          <caption class="p-5 pb-0 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            Turtle DPA
            <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Turtle Defensive Power per Acre calculations</p>
          </caption>
          <TableHead>
            <TableHeadCell />
            {#each defaults.PERSONALITIES as pers}
              <TableHeadCell>{pers}</TableHeadCell>
            {/each}
          </TableHead>
          <TableBody tableBodyClass="divide-y">
            {#each defaults.RACES as race, raceIndex}
              <TableBodyRow>
                <TableHeadCell>{race}</TableHeadCell>
                {#each defaults.PERSONALITIES as pers, persIndex}
                  {#if turtle_dpa_values[persIndex][raceIndex] === null}
                    <TableBodyCell>-</TableBodyCell>
                  {:else}
                    <TableBodyCell>
                      <a href="#results-{race}-{pers}">
                      {#if turtle_dpa_values_outliers[persIndex][raceIndex] === 'min'}
                        <span class="text-gray-500 font-light"><Number number={turtle_dpa_values[persIndex][raceIndex]!} /></span>
                      {:else if turtle_dpa_values_outliers[persIndex][raceIndex] === 'max'}
                        <span class="font-bold"><Number number={turtle_dpa_values[persIndex][raceIndex]!} /></span>
                      {:else}
                        <Number number={turtle_dpa_values[persIndex][raceIndex]!} />
                      {/if}
                      </a>
                    </TableBodyCell>
                  {/if}
                {/each}
              </TableBodyRow>
            {/each}
          </TableBody>
        </Table>
      </section>

      <section id="networth">
        <Table>
          <caption class="p-5 pb-0 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            Networth
            <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Networth calculations by race and personality</p>
          </caption>
          <TableHead>
            <TableHeadCell />
            {#each defaults.PERSONALITIES as pers}
              <TableHeadCell>{pers}</TableHeadCell>
            {/each}
          </TableHead>
          <TableBody tableBodyClass="divide-y">
            {#each defaults.RACES as race, raceIndex}
              <TableBodyRow>
                <TableHeadCell>{race}</TableHeadCell>
                {#each defaults.PERSONALITIES as pers, persIndex}
                  {#if networth_values[persIndex][raceIndex] === null}
                    <TableBodyCell>-</TableBodyCell>
                  {:else}
                    <TableBodyCell>
                      <a href="#results-{race}-{pers}">
                      {#if networth_values_outliers[persIndex][raceIndex] === 'min'}
                        <span class="text-gray-500 font-light"><Number number={networth_values[persIndex][raceIndex]!} /></span>
                      {:else if networth_values_outliers[persIndex][raceIndex] === 'max'}
                        <span class="font-bold"><Number number={networth_values[persIndex][raceIndex]!} /></span>
                      {:else}
                        <Number number={networth_values[persIndex][raceIndex]!} />
                      {/if}
                      </a>
                    </TableBodyCell>
                  {/if}
                {/each}
              </TableBodyRow>
            {/each}
          </TableBody>
        </Table>
      </section>

      {#each result as dataGroup, i}
        {@const [race, pers, data] = dataGroup}
        <section id="results-{race}-{pers}" class="pt-5 relative">
          <h3 class="mt-10 ml-7 pb-0 !mb-0 text-lg font-semibold text-left text-gray-900">{race} {pers}</h3>
          <div class="p-4 pt-0">
            {#if data == 'infeasible'}
              <span class="text-error-500">Infeasible</span>
            {:else}
              <FullResultData {data} />
            {/if}
          </div>
        </section>
      {/each}
    </div>
  </div>
{/if}
