<script lang="ts">
import { TabGroup, Tab, TabAnchor } from '@skeletonlabs/skeleton';
	import TableData from './TableData.svelte';
export let data: any;

let tabSet: number = 0;
</script>

<TabGroup>
    <Tab bind:group={tabSet} name="tab1" value={0}>Science Distribution</Tab>
	<Tab bind:group={tabSet} name="tab2" value={1}>Buildings</Tab>
	<Tab bind:group={tabSet} name="tab3" value={2}>Population and Military</Tab>
	<Tab bind:group={tabSet} name="tab4" value={3}>Core Values</Tab>
    <Tab bind:group={tabSet} name="tab5" value={4}>Used Modifiers</Tab>
    <Tab bind:group={tabSet} name="tab5" value={5}>Target</Tab>
   
    <!-- Tab Panels --->
    <svelte:fragment slot="panel">
        {#if tabSet === 0}
        <TableData tableData={data.frames[0]} />
        <TableData tableData={data.frames[1]} />
        {:else if tabSet === 1}
        <TableData tableData={data.frames[2]} />
        {:else if tabSet === 2}
        <TableData tableData={data.frames[3]} />
        {:else if tabSet === 3}
        <TableData tableData={data.frames[4]} />
        {:else if tabSet === 4}
        <code class="text-xs"><pre>{JSON.stringify(data.definitions, null, 4)}</pre></code>
        {:else if tabSet === 5}
        <code class="text-xs"><pre>{JSON.stringify(data.target, null, 4)}</pre></code>

        {/if}
    </svelte:fragment>
</TabGroup>