<script lang="ts">
	export let number: Number|String = 0;
	export let locale = "en";

	function setZero(n: Number|String) {
		return typeof n !== "number" || Math.abs(n) > 0.00001 ?  n : 0;
	}

	$: formattedNumber = Number.isFinite(number) ? setZero(number).toLocaleString(locale, {
		notation: "compact",
		compactDisplay: "short"
	}) : number;
</script>

<style>
	span {
		font-variant-numeric: tabular-nums;
	}
</style>

<span>{formattedNumber}</span>
