<script lang="ts">
	import type { TableData } from "$lib/data";
	import Number from "./Number.svelte";

  

    interface Column {
      name: string;
      values: (string | number)[];
    }
  
    export let tableData: TableData;
  
    const getColumn = (index: number): Column => {
      const columnName = tableData.colindex.names[index];
      const columnIndex = tableData.colindex.lookup[columnName] - 1; // data columns are 1-indexed, julia is special
      const columnValues = tableData.columns[columnIndex];
      return { name: columnName, values: columnValues };
    };
  
    const columns = Array.from({ length: tableData.colindex.names.length }, (_, i) => getColumn(i));
    const rows = columns[0].values.length;
  </script>
  
  <div class="table table-container">  
  <table class="table-compact">
    <thead>
      <tr>
        {#each columns as column}
          <th>{column.name}</th>
        {/each}
      </tr>
    </thead>
    <tbody>
        {#each {length: rows} as _, i} <tr> 
        {#each columns as column}
       
          
            <td><Number number={column.values[i]} /></td>
         
        
      {/each}
    </tr>
      {/each}
    </tbody>
  </table>    
</div>
  