@import "tailwindcss";
@theme {
  --color-primary-50: oklch(97.31% 0.008 357.8);
  --color-primary-100: oklch(93.5% 0.021 355.23);
  --color-primary-200: oklch(86.25% 0.046 357.15);
  --color-primary-300: oklch(77% 0.081 356.82);
  --color-primary-400: oklch(65.76% 0.127 0.15);
  --color-primary-500: oklch(43.21% 0.123 2.78);
  --color-primary-600: oklch(42.68% 0.122 3.3);
  --color-primary-700: oklch(44.52% 0.128 3.79);
  --color-primary-800: oklch(44.52% 0.128 3.79);
  --color-primary-900: oklch(44.52% 0.128 3.79);
  --color-primary-950: oklch(44.52% 0.128 3.79);
}
@config "./../tailwind.config.ts";


a.nav-active {
		@apply text-primary-400 underline font-semibold; 
	}

li:has(ul a.nav-active) > a {
  @apply text-primary-400 font-semibold; 
}