<script lang="ts">
import { Tabs, TabItem } from 'flowbite-svelte';
import TableData from './TableData.svelte';
export let data: any;

let tabSet: number = 0;
</script>

<Tabs class="not-prose" contentClass="p-0 m-0" tabStyle="underline">
    <TabItem open={tabSet === 0} title="Science Distribution">
        <TableData tableData={[data.frames[0], data.frames[1]]}  grouping="Group" cumulative="Books"/>
    </TabItem>
    <TabItem open={tabSet === 1} title="Buildings">
        <TableData tableData={data.frames[2]} />
    </TabItem>
    <TabItem open={tabSet === 2} title="Population and Military">
        <TableData tableData={data.frames[3]} />
    </TabItem>
    <TabItem open={tabSet === 3} title="Core Values">
        <TableData tableData={data.frames[4]}  splitBefore={["TPA (raw)", "Income"]}/>
    </TabItem>
    <TabItem open={tabSet === 4} title="Used Modifiers">
        <code class="text-xs"><pre>{JSON.stringify(data.definitions, null, 4)}</pre></code>
    </TabItem>
    <TabItem open={tabSet === 5} title="Target">
        <code class="text-xs"><pre>{JSON.stringify(data.target, null, 4)}</pre></code>
    </TabItem>
</Tabs>
