<script>
    // @ts-nocheck

    import { Checkbox } from 'flowbite-svelte';
    import { CheckOutline, PlusOutline } from 'flowbite-svelte-icons';

    let { checked = $bindable(), text } = $props();
</script>

<Checkbox custom bind:checked class="cursor-pointer">
    <div
        class="flex gap-2 items-center peer-checked:bg-primary-100 peer-checked:text-primary-900 text-s font-medium mr-2 my-1 px-2 py-0.5 rounded bg-gray-100 text-gray-600"
    >
        {#if checked}
            <CheckOutline class="w-3 h-3 peer-checked:display-none" />
        {:else}
            <PlusOutline class="w-3 h-3 peer-checked:display-none" />
        {/if}
        {text}
    </div>
</Checkbox>
