<script lang="ts">
  // @ts-nocheck

  import { Input } from 'flowbite-svelte';
  import { CloseOutline } from 'flowbite-svelte-icons';
  import { maska } from 'maska/svelte';
  import type { MaskInputOptions } from 'maska';

  let { value = $bindable(), mask = 'int', disabled = false } = $props();

  let input_mask: MaskInputOptions = { mask: '#-#', eager: true, number: { locale: 'en-US', fraction: mask === 'double' ? 2 : 0, unsigned: true } };

  let n = null;

  try {
    n = value != null ? new Intl.NumberFormat('en-US').format(value) : null;
  } catch (e) {
    n = value;
  }

  let number = $state(n);

  function parseIntWithLocale(str, locale) {
    const formatter = new Intl.NumberFormat(locale);
    const parts = formatter.formatToParts(1.1);
    const decimalSeparator = parts.find((part) => part.type === 'decimal').value;
    const cleanStr = str.replace(new RegExp(`[^\\d${decimalSeparator}]`, 'g'), '');
    const normalizedStr = cleanStr.replace(decimalSeparator, '.');
    return parseInt(normalizedStr, 10);
  }

  function parseDoubleWithLocale(str, locale) {
    const formatter = new Intl.NumberFormat(locale);
    const parts = formatter.formatToParts(1.1);
    const decimalSeparator = parts.find((part) => part.type === 'decimal').value;
    const groupSeparator = parts.find((part) => part.type === 'group')?.value || ',';
    const cleanStr = str.replace(new RegExp(groupSeparator, 'g'), '').replace(decimalSeparator, '.');
    return parseFloat(cleanStr);
  }

  $effect(() => {
    if (number == null) {
      value = null;
    } else {
      value = mask === 'double' ? parseDoubleWithLocale(number, 'en-US') : parseIntWithLocale(number, 'en-US');
    }
  });
</script>

<Input let:props clearable {disabled}>
  <div slot="right" onclick={() => (number = null)}><CloseOutline class="w-3 h-3 cursor-pointer" /></div>
  <input class="input" {...props} use:maska={input_mask} bind:value={number} />
</Input>
