<script lang="ts">
	export let request: any;

	import { PUBLIC_WEB_SERVER } from '$env/static/public';
	import base_data from '$lib/data';
	import { ProgressRadial, Tab, TabGroup } from '@skeletonlabs/skeleton';
	import Number from './Number.svelte';
	import FullResultData from './FullResultData.svelte';
	import { goto } from '$app/navigation';

	async function get_data(json_request: any) {
		let response = await fetch(PUBLIC_WEB_SERVER + 'api', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(json_request)
		});
		let resp = await response.json();
        console.log(resp);
		return resp;
	}

	function get_data_set(data: [any], race: string, pers: string) {
		let d = data.find((d: any) => {
			return d[0] == race && d[1] == pers;
		});
		if (d) {
			return d[2];
		} else {
			return null;
		}
	}
</script>

<div>
	{#await get_data(request)}
		<div class="container mx-auto my-4">
			<h1 class="text-2xl mb-8">This will take a little while</h1>
			<ProgressRadial stroke={180} meter="stroke-primary-500" track="stroke-primary-500/30" />
		</div>
	{:then data}
		{#if data.length > 1}
			<div class="table table-container p-4">
				<button type="button" class="btn variant-filled" on:click={() => goto('/', { noScroll: true })}>Back to input</button>
				<h1 class="text-2xl mb-2">OPA</h1>
				<table class="table-compact">
					<thead>
						<tr>
							<th />
							{#each base_data.PERSONALITIES as pers}
								<th>{pers}</th>
							{/each}
						</tr>
					</thead>
					<tbody>
						{#each base_data.RACES as race, i}
							<tr>
								<th>{race}</th>
								{#each base_data.PERSONALITIES as pers}
									{@const dataset = get_data_set(data, race, pers)}
									{#if dataset && dataset == "infeasible"}
                                        <td>NaN</td>
                                    {:else if dataset}

										<td><Number number={dataset.values[2] / dataset.values[0]} /></td>
									{:else}
										<td> - </td>
									{/if}
								{/each}
							</tr>
						{/each}
					</tbody>
				</table>
			</div>

			<div class="table table-container p-4">
				<h1 class="text-2xl mb-2">OPNW * 100</h1>
				<table class="table-compact">
					<thead>
						<tr>
							<th />
							{#each base_data.PERSONALITIES as pers}
								<th>{pers}</th>
							{/each}
						</tr>
					</thead>
					<tbody>
						{#each base_data.RACES as race, i}
							<tr>
								<th>{race}</th>
								{#each base_data.PERSONALITIES as pers}
									{@const dataset = get_data_set(data, race, pers)}
									{#if dataset && dataset == "infeasible"}
                                        <td>NaN</td>
                                    {:else if dataset}
										<td><Number number={(100 * dataset.values[2]) / dataset.values[1]} /></td>
									{:else}
										<td> - </td>
									{/if}
								{/each}
							</tr>
						{/each}
					</tbody>
				</table>
			</div>

			<div class="table table-container p-4">
				<h1 class="text-2xl mb-2">DPA</h1>
				<table class="table-compact">
					<thead>
						<tr>
							<th />
							{#each base_data.PERSONALITIES as pers}
								<th>{pers}</th>
							{/each}
						</tr>
					</thead>
					<tbody>
						{#each base_data.RACES as race, i}
							<tr>
								<th>{race}</th>
								{#each base_data.PERSONALITIES as pers}
									{@const dataset = get_data_set(data, race, pers)}
									{#if dataset && dataset == "infeasible"}
                                        <td>NaN</td>
                                    {:else if dataset}
										<td><Number number={dataset.values[3] / dataset.values[0]} /></td>
									{:else}
										<td> - </td>
									{/if}
								{/each}
							</tr>
						{/each}
					</tbody>
				</table>
			</div>

			<div class="table table-container p-4">
				<h1 class="text-2xl mb-2">Turtle DPA</h1>
				<table class="table-compact">
					<thead>
						<tr>
							<th />
							{#each base_data.PERSONALITIES as pers}
								<th>{pers}</th>
							{/each}
						</tr>
					</thead>
					<tbody>
						{#each base_data.RACES as race, i}
							<tr>
								<th>{race}</th>
								{#each base_data.PERSONALITIES as pers}
									{@const dataset = get_data_set(data, race, pers)}
									{#if dataset && dataset == "infeasible"}
                                        <td>NaN</td>
                                    {:else if dataset}
										<td><Number number={dataset.values[4] / dataset.values[0]} /></td>
									{:else}
										<td> - </td>
									{/if}
								{/each}
							</tr>
						{/each}
					</tbody>
				</table>
			</div>

			<div class="table table-container p-4">
				<h1 class="text-2xl mb-2">Networth</h1>
				<table class="table-compact">
					<thead>
						<tr>
							<th />
							{#each base_data.PERSONALITIES as pers}
								<th>{pers}</th>
							{/each}
						</tr>
					</thead>
					<tbody>
						{#each base_data.RACES as race, i}
							<tr>
								<th>{race}</th>
								{#each base_data.PERSONALITIES as pers}
									{@const dataset = get_data_set(data, race, pers)}
									{#if dataset && dataset == "infeasible"}
                                        <td>NaN</td>
                                    {:else if dataset}
										<td><Number number={dataset.values[1]} /></td>
									{:else}
										<td> - </td>
									{/if}
								{/each}
							</tr>
						{/each}
					</tbody>
				</table>
			</div>

			<h1 class="text-2xl mt-4 p-4">All the gritty details</h1>
		{/if}
		{#each data as dataGroup, i}
			{@const [race, pers, data] = dataGroup}
			<h2 class="text-xl m-4">{race} {pers}</h2>
			<div class="p-4">
                {#if data == "infeasible"}
                <span class="text-error-500">Infeasible</span>
                {:else}
				<FullResultData {data} />
                {/if}
			</div>
		{/each}
	{:catch}
		Oopsies
	{/await}
</div>
