<script lang="ts">
    import type { OptimizationInput, BuildingTarget } from '$lib/requests';
    import Number from './Number.svelte';

    export let data: OptimizationInput;

    // Helper function to get active races/personalities
    function getActiveItems(items: Record<string, boolean>): string[] {
        return Object.entries(items)
            .filter(([_, active]) => active)
            .map(([name]) => name);
    }

    // Get active races and personalities
    let activeRaces = getActiveItems(data.races);
    let activePersonalities = getActiveItems(data.personalities);

    // Get active buildings (those with any target set)
    let activeBuildings = Object.entries(data.buildings).filter(
        ([_, target]) => target.min !== null || target.max !== null || target.eq !== null || target.as_effective
    );

    // Get active sciences (those with a value set)
    let activeSciences = Object.entries(data.sciences).filter(([_, value]) => value !== null);

    // Get active extra targets
    let activeExtraTargets = Object.entries(data.extra_targets).filter(([_, value]) => value !== null);

    // Get active self spells (those that are excluded)
    let excludedSpells = Object.entries(data.excluded_self_spells)
        .filter(([_, excluded]) => excluded)
        .map(([spell]) => spell);
</script>

<div class="space-y-4">
    <!-- Basic Info -->
    <div class="space-y-2">
        <h3 class="text-lg font-semibold">Optimization Target</h3>
        <div class="grid grid-cols-2 gap-2">
            {#if activeRaces.length > 0}
                <div class="text-sm mt-1 text-gray-500 mt-1 text-gray-500 font-semibold">Races:</div>
                <div class="text-sm mt-1 text-gray-500">{activeRaces.join(', ')}</div>
            {/if}
            {#if activePersonalities.length > 0}
                <div class="text-sm mt-1 text-gray-500 font-semibold">Personalities:</div>
                <div class="text-sm mt-1 text-gray-500">{activePersonalities.join(', ')}</div>
            {/if}
            <div class="text-sm mt-1 text-gray-500 font-semibold">Acres:</div>
            <div class="text-sm mt-1 text-gray-500"><Number number={data.acres} /></div>
            <div class="text-sm mt-1 text-gray-500 font-semibold">Honor:</div>
            <div class="text-sm mt-1 text-gray-500">{data.honor}</div>
        </div>
    </div>

    <!-- Science Settings -->
    <div class="space-y-2">
        <h3 class="text-lg font-semibold">Science Settings</h3>
        <div class="grid grid-cols-2 gap-2">
            {#if data.science_days !== null}
                <div class="text-sm mt-1 text-gray-500 font-semibold">Days of Science:</div>
                <div class="text-sm mt-1 text-gray-500"><Number number={data.science_days} /></div>
            {/if}
            {#if data.science_books !== null}
                <div class="text-sm mt-1 text-gray-500 font-semibold">Books of Science:</div>
                <div class="text-sm mt-1 text-gray-500"><Number number={data.science_books} /></div>
            {/if}
        </div>
    </div>

    <!-- Combat Stats -->
    <div class="space-y-2">
        <h3 class="text-lg font-semibold">Combat Stats</h3>
        <div class="grid grid-cols-2 gap-2">
            <div class="text-sm mt-1 text-gray-500 font-semibold">WPA:</div>
            <div class="text-sm mt-1 text-gray-500"><Number number={data.wpa} digits={2} /></div>
            <div class="text-sm mt-1 text-gray-500 font-semibold">TPA:</div>
            <div class="text-sm mt-1 text-gray-500"><Number number={data.tpa} digits={2} /></div>
            <div class="text-sm mt-1 text-gray-500 font-semibold">Target:</div>
            <div class="text-sm mt-1 text-gray-500">{data.opt_target}</div>
            {#if data.dpa !== null}
                <div class="text-sm mt-1 text-gray-500 font-semibold">DPA Target:</div>
                <div class="text-sm mt-1 text-gray-500"><Number number={data.dpa} /></div>
            {/if}
            {#if data.opa !== null}
                <div class="text-sm mt-1 text-gray-500 font-semibold">OPA Target:</div>
                <div class="text-sm mt-1 text-gray-500"><Number number={data.opa} /></div>
            {/if}
            {#if data.opa_dpa_ratio !== null}
                <div class="text-sm mt-1 text-gray-500 font-semibold">OPA:DPA Ratio:</div>
                <div class="text-sm mt-1 text-gray-500"><Number number={data.opa_dpa_ratio} digits={2} /></div>
            {/if}
        </div>
    </div>

    <!-- Resources -->
    <div class="space-y-2">
        <h3 class="text-lg font-semibold">Resources</h3>
        <div class="grid grid-cols-2 gap-2">
            <div class="text-sm mt-1 text-gray-500 font-semibold">Income:</div>
            <div class="text-sm mt-1 text-gray-500"><Number number={data.income} /></div>
            <div class="text-sm mt-1 text-gray-500 font-semibold">Runes:</div>
            <div class="text-sm mt-1 text-gray-500"><Number number={data.runes} /></div>
        </div>
    </div>

    <!-- Building Targets -->
    {#if activeBuildings.length > 0}
        <div class="space-y-2">
            <h3 class="text-lg font-semibold">Building Targets</h3>
            <div class="grid grid-cols-2 gap-2">
                {#each activeBuildings as [building, target]}
                    <div class="text-sm mt-1 text-gray-500 font-semibold">{building}:</div>
                    <div class="text-sm mt-1 text-gray-500">
                        {#if target.eq !== null}
                            Exactly <Number number={target.eq} />
                        {:else}
                            {#if target.min !== null}Min <Number number={target.min} />{/if}
                            {#if target.max !== null}Max <Number number={target.max} />{/if}
                        {/if}
                        {#if target.as_effective}(As Effective){/if}
                    </div>
                {/each}
            </div>
        </div>
    {/if}

    <!-- Science Targets -->
    {#if activeSciences.length > 0}
        <div class="space-y-2">
            <h3 class="text-lg font-semibold">Science Targets</h3>
            <div class="grid grid-cols-2 gap-2">
                {#each activeSciences as [science, value]}
                    <div class="text-sm mt-1 text-gray-500 font-semibold">{science}:</div>
                    <div class="text-sm mt-1 text-gray-500"><Number number={value} /></div>
                {/each}
            </div>
        </div>
    {/if}

    <!-- Extra Targets -->
    {#if activeExtraTargets.length > 0}
        <div class="space-y-2">
            <h3 class="text-lg font-semibold">Effect Targets</h3>
            
            <div class="grid grid-cols-1 gap-2">
                {#each activeExtraTargets as [target, value]}
                <span>
                    <span class="text-sm mt-1 text-gray-500 font-semibold">{target}:</span>
                    <span class="text-sm mt-1 text-gray-500"><Number number={value} digits={2} /></span>
                </span>
                    
                {/each}
            </div>
        </div>
    {/if}

    <!-- Excluded Spells -->
    {#if excludedSpells.length > 0}
        <div class="space-y-2">
            <h3 class="text-lg font-semibold">Excluded Self Spells</h3>
            <div class="text-sm mt-1 text-gray-500">{excludedSpells.join(', ')}</div>
        </div>
    {/if}
</div>
