<script lang="ts">
    import type { PageData } from './$types';
    import defaults from '$lib/data';

    import {
        Checkbox,
        Input,
        Table,
        TableBody,
        TableBodyCell,
        TableBodyRow,
        TableHead,
        TableHeadCell,
        Select,
        Textarea,
        Popover,
        Button,
        Modal,
        Progressbar,
    } from 'flowbite-svelte';

    let { data }: { data: PageData }  = $props();

    let { optimizations } = data;
    
    let optimizationsArray = [];
    for (const [key, value] of Object.entries(optimizations)) {
        optimizationsArray.push({id: key, ...value});
    }
    optimizationsArray.sort((a, b) => {
        return b.timestamp - a.timestamp;
    });


    
</script>

<section>
    <Table>
        <caption class="p-5 pb-0 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            Runs
            <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
                Below are previous runs. Click on a run to view it or to delete it. Runs are cached while they match the current server version.
            </p>
        </caption>
        <TableHead>
            <TableHeadCell>Time</TableHeadCell>
            <TableHeadCell>Data</TableHeadCell>
            <TableHeadCell></TableHeadCell>
        </TableHead>
        <TableBody  tableBodyClass="divide-y">
            {#each optimizationsArray as opt}
                <TableBodyRow>
                    <TableBodyCell>{new Date(opt.timestamp).toLocaleTimeString()} {new Date(opt.timestamp).toLocaleDateString()}</TableBodyCell>
                    <TableBodyCell class="text-xs">
                       <span class="font-semibold">Races:</span> {defaults.RACES.filter((r) => opt.input.races[r]).join(', ')} <br />
                       <span class="font-semibold">Personalities:</span> {defaults.PERSONALITIES.filter((p) => opt.input.personalities[p]).join(', ')}<br />
                       <span class="font-semibold">Science:</span> {opt.input.science_days && opt.input.science_days >= 0 ? opt.input.science_days + ' days' : opt.input.science_books + ' books'}                       
                       <span class="font-semibold">WPA:</span> {opt.input.wpa}
                       <span class="font-semibold">TPA:</span>  {opt.input.tpa}
                       <span class="font-semibold">Target:</span>  {opt.input.opa || opt.input.dpa || opt.input.opa_dpa_ratio} {opt.input.opt_target} {#if opt.input.opa_dpa_ratio}(ratio){/if}
                    </TableBodyCell>
                    <TableBodyCell><a href="/runs/{opt.id}">View</a></TableBodyCell>
                </TableBodyRow>
            {/each}
        </TableBody>
    </Table>
</section>
